.list-group .list-group {
  margin-top: 20px;
}
.list-group-item .btn {
  padding: 0px 7px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.list-group-item .btn i {
  margin-top: 5px;
}
footer.container {
  padding: 50px 20px;
}
.btns-list {
  float: right;
}
.container-form {
  background-color: #f7f7f9;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bababa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
