html {
  min-height: 100%;
  background: #feffff;
  background: -moz-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  background: -webkit-linear-gradient(top, #feffff 0%, #d2ebf9 100%);
  background: linear-gradient(to bottom, #feffff 0%, #d2ebf9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#d2ebf9',GradientType=0 );
}

body {
  padding-top: 4.5rem;
  background-color: transparent;
}
.list-group .list-group {
  margin-top: 20px;
}
.list-group-item {
  padding: 0.75rem;
}
.list-group-item .btn {
  padding: 0px 7px;
  margin-left: 5px;
  margin-bottom: 5px;
}
.list-group-item .btn i {
  margin-top: 5px;
}
footer.container {
  padding: 50px 20px;
}
.btns-list {
  float: right;
}
.container-form {
  background-color: #e4e4ee;
  -moz-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.container-form:hover {
  background-color: #e4e4ee;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bababa;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c757d;
}
